* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
}

html,
body {
    height: 100%;
}

/* header */

.navBar {
    height: 110px;
    width: 100%;
    background-color: #F1A536;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar img {
    margin-left: 85px;
}

.navItems {
    display: flex;
    margin-right: 120px;
    gap: 25px;
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: black;
}

/* main image with the text box */

.mainImg {
    position: relative;
    height: 510px;
    display: flex;
    justify-content: center;
}

.mainImg img {
    position: absolute;
    width: 100%;
    height: 510px;
    object-fit: cover;
    object-position: 0% 0%;
}

.mainImg h2 {
    background-color: white;
    position: absolute;
    bottom: 70px;
    margin-right: 75px;
    padding: 10px 20px;
    font-size: 2.2em;
}

/* time */

.time {
    height: 150px;
    background-color: #DADFEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    gap: 15px;
}

.time h3 {
    width: 85%;
}

.timeStats {
    display: flex;
    gap: 15%;
    width: 85%;
}

.timeStats div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* burgerReview */

.burgerReview {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burgerReview h1 {
    font-size: 3em;
    margin-top: 85px;
}

.stars {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.stars i {
    color: #a63223;
}

.btn {
    margin-top: 20px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn button {
    background-color: #a63223;
    color: white;
    font-size: .9em;
    padding: 10px 25px;
    border-radius: 25px;
}

.btn div {
    padding: 8px 10px;
    border: 1px solid black;
    border-radius: 50%;
}

.review {
    width: 85%;
    background-color: #EEF0F4;
    margin: 40px 0 50px 0;
}

.review h5 {
    margin: 40px 140px;
    text-align: center;
    font-size: 1.75em;
    color: #575656;
}

/* recipe  */

.recipe {
    width: 85%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 150px;
}

.ingredients {
    width: 45%;
    font-size: 2.4em;
    list-style-position: inside;
}

.directions {
    width: 55%;
    font-size: 2.4em;
}

.directions h4,
.ingredients h4 {
    margin-bottom: 30px;
}

li {
    font-size: .5em;
    line-height: 1.3em;
}

ol {
    list-style-position: outside;
    padding-left: 20px;

}

.ingredients li::marker {
    font-size: 1.5em;
}

ol li {
    margin: 0 0 25px 0;
    padding-left: 2%;
}

ol :nth-child(8) {
    font-size: .5em;
    font-weight: bold;
    list-style: none;
    margin-bottom: 0;
}

.ingredients span {
    margin: 25px 0 0 40px;
    font-size: .5em;
    font-weight: bold;
}

/* iframe */

.divFrame {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

iframe {
    height: 500px;
    width: 900px;
}

/* footer */

footer {
    height: 120px;
    width: 100%;
    background-color: #F1A536;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer div {
    display: flex;
    margin-right: 100px;
    gap: 20px;
}

footer h3 {
    margin-left: 100px;
    font-weight: 400;
}